# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

/node_modules
02 express/01_letsStart/node_modules
02 express/01_letsStart/dist/tsconfig.tsbuildinfo
02 express/02_letsStart/node_modules
02 express/02_letsStart/dist/tsconfig.tsbuildinfo


02 express/02_letsStart/src/mongodb.txt